/*! --- RESET ---!*/
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: "Montserrat", sans-serif;
}

/*!--- NAV --!*/

.navbar {
    background-color: burlywood;
}

/*? --- MAIN ---?*/

h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

.promo {
    width: 100%;
    display: flex;
    margin: auto;
    margin: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.hero { 
    width:100%;
    height:80vh;
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h2 { 
    font-size:50px;
    color:black;
    padding-top:30px;
}

.hero p { 
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
}

.hero a { 
    background-color: burlywood;
    text-decoration: none;
    padding:15px;
    color:black
}

.hero a:hover {
    background-color: white;
}


/*!- GRID GALERIA -!*/

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 15px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item {
    position: relative;
}

.grid-item h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.226);
    width: 100%;
    color: white;
    padding: 8px;
    text-align: center;
}

.img-4 {
    grid-column: span 2;
}

.img-6 {
    grid-row: span 2;
}

.img-9 {
    grid-column: span 2;
}



/*!---FOOTER---!*/

footer {
    width:100%;
    height: 150px;
    background-color: burlywood;
    flex-wrap: wrap;
}

footer {
    margin-top: 50px;
}

footer img {
    width: 48px;
    height: 48px;
}
    
/*!--NOSOTROS,MARCAS,ETC.--!*/

.nosotros h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}


@media screen and (max-width: 800px) {
    .grid-galeria {
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
    }
    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-9 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 450px) { 
    .grid-galeria {
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 220px;
    }
    .grid-item {
        grid-column: span 1;
        grid-row:span 1;
    }
}

@media screen and (max-width:600px) {
    .hero h2 {
        font-size: 35px;
    }
    .hero p {
        font-size: 16px;
    }
}
@media screen and (max-width:450px) {
    .hero h2 {
        font-size: 29px;
    }
    .hero p {
        font-size: 19px;
    }
    .hero a {
        font-size: 15px;
    }
}

@media screen and (max-width:350px) {
    .hero h2 {
        font-size: 20px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero a {
        font-size: 12px;
    }
}

